[submodule "ceph-object-corpus"]
	path = ceph-object-corpus
	url = git@github.com:ceph/ceph-object-corpus.git
[submodule "src/erasure-code/jerasure/jerasure"]
	path = src/erasure-code/jerasure/jerasure
	url = git@github.com:ceph/jerasure.git
	branch = v2-ceph
[submodule "src/erasure-code/jerasure/gf-complete"]
	path = src/erasure-code/jerasure/gf-complete
	url = git@github.com:ceph/gf-complete.git
	branch = v3-ceph
[submodule "src/rocksdb"]
	path = src/rocksdb
	url = git@github.com:ceph/rocksdb
	ignore = dirty
[submodule "ceph-erasure-code-corpus"]
	path = ceph-erasure-code-corpus
	url = git@github.com:ceph/ceph-erasure-code-corpus.git
[submodule "src/googletest"]
	path = src/googletest
	url = git@github.com:ceph/googletest
	branch = ceph-release-1.7.x
[submodule "src/spdk"]
	path = src/spdk
	url = git@github.com:ceph/spdk.git
[submodule "src/xxHash"]
	path = src/xxHash
	url = git@github.com:ceph/xxHash.git
[submodule "src/isa-l"]
	path = src/isa-l
	url = git@github.com:ceph/isa-l
[submodule "src/zstd"]
	path = src/zstd
	url = git@github.com:facebook/zstd
[submodule "src/crypto/isa-l/isa-l_crypto"]
	path = src/crypto/isa-l/isa-l_crypto
	url = git@github.com:01org/isa-l_crypto
[submodule "src/blkin"]
	path = src/blkin
	url = git@github.com:ceph/blkin
[submodule "src/rapidjson"]
	path = src/rapidjson
	url = git@github.com:ceph/rapidjson
[submodule "src/dmclock"]
	path = src/dmclock
	url = git@github.com:ceph/dmclock.git
[submodule "src/seastar"]
	path = src/seastar
	url = git@github.com:ceph/seastar.git
[submodule "src/fmt"]
	path = src/fmt
	url = git@github.com:ceph/fmt.git
[submodule "src/c-ares"]
	path = src/c-ares
	url = git@github.com:ceph/c-ares.git
[submodule "src/spawn"]
	path = src/spawn
	url = git@github.com:ceph/spawn.git
[submodule "src/pybind/mgr/rook/rook-client-python"]
	path = src/pybind/mgr/rook/rook-client-python
	url = git@github.com:ceph/rook-client-python.git
[submodule "s3select"]
	path = src/s3select
	url = git@github.com:ceph/s3select.git
[submodule "src/libkmip"]
	path = src/libkmip
	url = git@github.com:ceph/libkmip
	branch = ceph-master
[submodule "src/arrow"]
	path = src/arrow
	url = git@github.com:apache/arrow.git
[submodule "src/utf8proc"]
	path = src/utf8proc
	url = git@github.com:JuliaStrings/utf8proc
